<footer class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full py-4" style="position: relative;">
    <small class="text-gray-500">Copyright ©
        {{settings.name}}
    </small>

    <a class="text-gray-500 text-sm"
       style="position: absolute; right: 15px; bottom: 15px;"
       href="https://github.com/ConvoCollective/conversational-ai-guide/edit/master/{{ page.inputPath }}">
      <img src='/static/img/octocat.png' class="inline-block" style='width: 20px; margin-top: -2px;' />

      Edit this page on GitHub
    </a>

        <!-- Required popper.js -->
    <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script>
        for (const element of document.getElementsByClassName('tooltip')) {
            const glossaryDefinition = element.getAttribute('data-glossary')
            tippy(element, {
                allowHTML: true,
                content: `<div class="glossary">${glossaryDefinition}</div>`,
                trigger: 'mouseenter'
            });
        }
    </script>
</footer>
