@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center;
  margin-bottom: .25em !important;
}

h2 {
  margin-top: .25em !important;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

p {
  font-family: 'Open Sans'
}

.prose p {  
  margin-top: .25em;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
