@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

a.tooltip {
  color: blue;
  font-weight: 600;
  text-decoration: none;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center;
  margin-bottom: .25em !important;
}

h2 {
  margin-top: .25em !important;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

p {
  font-family: 'Open Sans'
}

.glossary h1 {
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: .1em !important;
}

.glossary h2 {
  font-weight: 600;
  padding-top: 0.2em;
}

.glossary p {
  padding-top: 0.5em;
}

.prose h1 {
  text-align: left;
}

.prose p {
  margin-top: .25em;
}


/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/* Link previews */
.link-preview-widget
{
  display: table;

  width: 100%;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-bottom: 15px;
}

.link-preview-widget-title
{
  font-size: 16px;
  font-weight: 700;

  display: -webkit-box;
  overflow: hidden;

  margin-bottom: 8px;

  word-break: break-all;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.link-preview-widget-description
{
  font-size: 12px;
  font-style: normal;
  line-height: 1.5;

  display: -webkit-box;
  overflow: hidden;

  max-height: 3em;
  margin-bottom: 4px;

  word-break: break-all;

  color: #787c7b;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.link-preview-widget-url
{
  font-size: 12px;
  font-style: normal;
  line-height: 1.5;

  display: block;

  margin-bottom: 0;

  color: #222;
}

.link-preview-widget > a
{
  display: table-cell;
  flex-direction: column;

  padding: 16px;

  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;

  color: inherit;
  background-color: transparent;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  flex: 1;
}

.link-preview-widget-image
{
  width: 225px;
  min-width: 220px;
  height: 150px;
  padding: 0;

  vertical-align: middle;

  border-radius: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  -webkit-box-flex: 0;
  flex: 0;
}

/* Footer */
footer {
  margin-top: 40px;
}

footer .logos {
  padding: 30px 0;
}

footer .logos img {
  width: 200px;
  display: inline-block;
}

footer .logos img {
  margin: 0 50px 0 auto;
}

footer .logos a:last-of-type img {
  margin-right: 0;
}
